div{
	height: 100vh;
	border: solid black;
}
footer{

}
#inputfoot{
	position: sticky;
	margin-bottom: 2px;
	width: 88%;
}
#buttonfoot{
	position: sticky;
	width: 9%;
	text-align: center;
}
.lightblue{
	background-color: lightblue;
}